/* Basic styling */
svg {
  width: 100%;
}
.filled-heading {
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 6rem;
  line-height: .9;
}

/* Animate the background shapes */
#background path {
  animation: pulse 7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
 
  /* Necessary to keep the SVG objects in place while scaling */
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

@keyframes pulse {
  /* Rotating it along with the scale makes it a little bit more fancy */
  0%, 100% { transform: scale(0) rotate(275deg); }
  35%, 65% { transform: scale(3) rotate(0deg); }
}